<p>
    Name  &nbsp; &nbsp;&nbsp;:&nbsp;<input type="text" [(ngModel)]="name"><br><br>
    Country :&nbsp;<input type="text" [(ngModel)]="country"><br><br>
    Gender&nbsp;&nbsp;&nbsp;:&nbsp;<input type="radio" value="male" [checked]="gender===male" [(ngModel)]="gender" name="selector">Male
    <input type="radio" value="female" [checked]="gender===female" [(ngModel)]="gender" name="selector">Female<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="submit" (click)="add()">
 </p>


 <!-- <div *ngIf="test">
     asasdsa
 </div>

 <button (click)="test = !test">Test</button> -->